vanna[chromadb,postgres,ollama,mysql,qdrant,openai]
elasticsearch==7.17.10
sentence-transformers==3.4.1
transformers==4.49.0
accelerate<=0.23.0
qdrant-client
openpyxl
xlrd
pandas
requests
Flask
cryptography
